link(rel='preconnect', href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;900&display=swap', rel='stylesheet')

//- img.og_img(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/og_pic_game.png' alt='og')

.all
  a(href='https://codepen.io/natsu1827/full/BapbodX')
    img.title_word(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/game_logo.png' alt='頁面標題圖' width='250px')
  .answer
    img.baby_loudspeaker(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/baby_loudspeaker.png' width='300' alt='標題大聲公')
    #cross
    p 真可惜!
    .encourage
      .try_word 認識珍貴稀少的桑黃，可沒那麼簡單!再挑戰一次嗎?
      a.return(href='https://codepen.io/natsu1827/full/BapbodX') 回前頁
      .star.star_a
      .star.star_b
      .star.star_c
  br
  .antrodia_cinnamomea
    .ac_word 台灣特有種牛樟芝與桑黃一樣具有SOD超歧氧化酵素的成分，滋補強身的效果已口耳相傳許久，但經實驗證實，桑黃的保健成效更勝過牛樟芝的效果呢 !
    img.ac_pic(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/opt-01.png' width='80px' alt='靈芝')
    br
    br
    .video
      iframe(src='https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fegbond.tw%2Fvideos%2F1030251487734926%2F&show_text=false&width=560&t=0' width='560' height='314' style='border-radius:20px;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
      br
      .share_video
        .share_video_word 將桑黃的特色影片記錄下來吧!
        a(href='https://www.facebook.com/sharer.php?u=https://codepen.io/natsu1827/debug/BapbodX&quote=「確認過眼神，桑黃是我的貴人」趕快來參加萃桑黃抽獎送好禮!' target='_blank' rel='noopener')
          img.share_icon(src='https://i.imgur.com/CpQTDBp.png' width='70px' alt='分享影片')
  br
  br
  .share_zone
    img.baby_tea(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/baby_tea.png' width='200px' alt='桑黃寶寶喝茶背景圖')
    img.share_title(src='https://bepurelife.com.tw/wp-content/uploads/2021/05/share_pusher-wrong.png' width='400px' alt='')
    br
    .share_subtitle
      .share_game_word 快分享桑黃小遊戲，看看有多少朋友能答對?!
      a(href='https://www.facebook.com/sharer.php?u=https://codepen.io/natsu1827/debug/BapbodX&quote=「確認過眼神，桑黃是我的貴人」趕快來參加萃桑黃抽獎送好禮!' target='_blank' rel='noopener')
        img.share_icon(src='https://i.imgur.com/CpQTDBp.png' width='70px' alt='分享遊戲')
  br
  .join_lottery
    | 【NEWS!期間限定】
    br
    | 點擊上方
    b 2個「分享」
    | ，將
    b 影片
    | 與
    b 遊戲
    | 分享至
    b FB
    | ，
    br
    | 再回萃桑黃活動貼文
    b 留言
    | ，即可獲得抽獎機會!
    br
    a(href='https://www.facebook.com/bepurelife/posts/1270250146711537') 查看詳情/回活動貼文留言
  br
  br
  .company
    a(href='https://bepurelife.com.tw/')
      img(src='https://bepurelife.com.tw/wp-content/uploads/2020/01/綠品生活頁首.png' width='120px' alt='綠品生活')
    br
  hr
  .copyright Copyright 2021 eGbiotek 綠品生物科技股份有限公司、綠品生活 All Rights Reserved.